tw(value)
    value/19.2vw

th(value)
    value/10.8vh

.popup-window.popup-bind{
    display: flex;
    flex-direction: row;
    justify-content: flex-start
    img{
        margin-left: tw(120)
        width: tw(300)
        height:tw(300)
    }
    p{
        margin-left tw(40)
        font-size: tw(40)
        text-align: left
        color: white
    }
}