w(value)
    value/19.2vw

h(value)
    value/10.8vh


.nuts-page
    width w(1920)
    height h(1080)
    background-image url('./background.jpg')
    background-repeat repeat
    background-attachment fixed
    background-position center
    background-size cover
