tw(value)
    value/19.2vw

th(value)
    value/10.8vh

.page-paysuccess{
    display flex
    flex-direction column
    justify-content center
    align-items center
    header{
        font-size th(55)
        color white
    }
    div.icon{
        padding-top th(70)
        img{
            width th(205)
            height th(205)
        }
    }
    div.message{
        padding-top th(70)
        font-size tw(65)
        color white
    }
    div.big-button{
        padding-top th(95)
        width tw(800)
        display flex
        flex-direction row
        justify-content space-around
    }
}


// .big-button
//     bottom th(0)
//     display flex
//     width 100%
//     flex-direction row
//     justify-content center
//     .main-button
//         display block
//         font-size tw(42)
//         width tw(350)
//         height th(140)
//         line-height th(140)
//         background-color #fff
//         color rgba(75,215,255,0.7)
//         border-radius th(70)
//         border th(3) solid #4bd7ff
//         &.selected
//             box-shadow 0px 0px th(38) #4bd7ff;


    